@import '../../mixins/common';

.login-wrapper {
    height: 100%;

    .login-splash-sec {
        background: blue;
    }

    .login-box-sec {
        @include flexCenter;

        .login-box-wrap {
            .header-sec {
                font-size: 1.8em;

                .sign-up-sec {
                    @include flexCenterRow;
                    font-size: .7em;
                    margin: 16px 0 50px;

                    .cont {
                        color: var(--text-light);
                        margin-right: 8px;
                    }

                    .create-btn {
                        font-weight: bold;
                    }
                }
            }

            .field-wrap {
                width: 420px;
                .form-field {
                    .label {
                        font-weight: bold;
                        margin-bottom: 8px;
                    }

                    .psswd-ctrl {
                        @include lrPartition;
                        margin-top: 26px;
                    }
                }

                .form-btns {
                    .signin-btn {
                        background: var(--primary);
                        color: #fff;
                        width: 100px;
                    }
                }
            }
        }
    }
}