@import '../../../mixins/common';

.dashboard-main {
  .dashboard-balance-page {
    padding: 36px;

    .assets-wrap {
      margin: 28px 0;

      .asset-card-wrap {
        display: flex;

        .asset-card {
          width: 100%;

          .asset-img {
            max-height: 130px;
            max-width: 200px;

            @include w1280 {
              max-width: 150px;
            }

            @include w960 {
              max-width: 100px;
            }
          }

          .asset-value {
            @include w1280 {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }
}
