@import '../../mixins/common';

.year-bar-wrap {
  display: flex;
  align-items: center;

  .year-box {
    @include flexCenter;
    padding: 12px 0;
    border-bottom: 3px solid #fff;
    transition: 0.5s;
    .selection-circle {
      @include flexCenter;
      border-radius: 50%;
      cursor: pointer;
      width: 36px;
      height: 36px;
      font-size: 25px;
      font-weight: 800;
    }

    &.selected {
      .selection-circle {
        background: #fff;
        color: var(--primary);
      }
    }

    &.fill-bar {
      border-color: var(--primary);
    }
  }
}
