
:root {
  --primary: #009ffd;
  --error: #dc3545;

  --text: #181c32;
  --text-light: #b5b5c3;

  --bg: #fff;
  --bg-field: #ecf0f4;
  --bg-panel-card: #ebebebcc;
}

:root {
  --font-main: Phenomena, sans-serif;
}
