@import '../../../mixins/common';


.leader-player-home {
    .leader-player-card {
        background: var(--bg-panel-card);
        height: 70%;
        position: relative;

        .player-border {
            border-radius: 45%;
            background-color: darkcyan;

            .player-image {
                border-radius: 50%;
                height: 270px;
                width: 270px;
                position: relative;

                .image-warp {
                    @include flexCenter;
                    background: #fff;
                    position: absolute;
                    border-radius: 50%;
                    top: 12px;
                    left: 12px;
                    right: 12px;
                    bottom: 12px;
        
                    img {
                        max-width: 200px;
                        max-height: 180px;
                    }
                }
            }
        }
                
        .player-points {
            font-size: 1.4em;
            margin-bottom: 12px;
        }

        .player-label {
            font-size: 1.4em;
            font-weight: bold;
            margin-bottom: 12px;
        }
    }
}